<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sunflower</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">


  <link href="css/index.css" type="text/css" rel="stylesheet"/>
</head>

<body>
          <div id="wrapper">
            <div class="content-area">
                <div class="container-fluid">
                    <div class="main">

                        <div class="row sparkboxes mt-4">
                            <div class="col-md-4">
                                <div class="box box1" id="note-1">
                                    ROW 0 BOX 1
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="box box1" id="note-2">
                                    ROW 0 BOX 2
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="box box1" id="note-3">
                                    ROW 0 BOX 3
                                </div>
                            </div>
                        </div>


                        <div class="row mt-4">
                            <div class="col-md-5">
                                <div class="box mt-4">
                                    ROW 1, BOX 1
                                </div>
                                
                            </div>

                            <div class="col-md-7">
                                <div class="box mt-4">
                                    ROW 1, BOX 2
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-md-5">
                                    <div class="box radialbox mt-4">
                                        ROW 2, BOX 1
                                    </div>
                            </div>
                            <div class="col-md-7">
                                    <div class="box mt-4">
                                        ROW 2, BOX 2
                                    </div>
                            </div>
                        </div>
        
                    </div>
        
                </div>
            </div>
        </div>

    <script src="js/index.js" defer></script>
</body>
</html>